.controls li{display:inline;margin-right:12px}
.controls button{border-radius:4px;border:none;padding:12px 32px;font-weight:700;font-size:22px}
.controls button span{display:inline-block;margin-left:20px}.hero-content{margin-top:200px;margin-bottom:200px}